<!-- File: src/app/welcome-page/welcome-page.component.html -->

<div class="welcome-page-container">
  <span class="welcome-heading">
    Welcome to Matinee!
  </span>
  <div class="welcome-page-button-container">
    <button class="custom-button" (click)="openUserRegistrationDialog()" style="margin-right: 10px;">
      Sign Up
    </button>
    <button class="custom-button" (click)="openUserLoginDialog()">
      Log In
    </button>
  </div>
</div>
<div class="welcome-image-container">
  <img src="assets/images/matinee-film-reel-t.png" />
</div>