<!-- File: src/app/genre-dialog/genre-dialog.component.html -->

<div class="card-container scrollable-container">
  <mat-card>
    <!--Genre Title Header-->
    <mat-card-header>
      <mat-card-title>{{genreName}}</mat-card-title>
    </mat-card-header>

    <!--Genre Description-->
    <mat-card-content>
      <ng-container *ngIf="!isLoading; else loadingSpinner">
        <p>{{ genreDesc }}</p>
      </ng-container>
      <ng-template #loadingSpinner>
        <div class="spinner-div">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </ng-template>
    </mat-card-content>

    <!--Buttons-->
    <mat-card-actions>
      <button class="custom-button" (click)="closeDialog()">Close</button>
    </mat-card-actions>

  </mat-card>
</div>