<!-- File: src/app/director-dialog/director-dialog.component.html -->
<div class="card-container scrollable-container">
  <mat-card>
    <mat-card-header *ngIf="!isLoading">
      <mat-card-title>{{directorData.Name}}</mat-card-title>
      <mat-card-subtitle>{{directorData.BirthYear}} -
        {{directorData.DeathYear}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!isLoading">
        <h3>Biography:</h3>
        <p style="margin-left:15px;">{{ directorData.Bio }}</p>
        <h3>Other Movies:</h3>
        <p *ngFor="let movie of directorData.Movies" style="margin-left:15px;">{{movie}}</p>
      </div>
      <div *ngIf="isLoading" class="spinner-div">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="custom-button" (click)="closeDialog()">Close</button>
    </mat-card-actions>
  </mat-card>
</div>