// Container for cards
:host ::ng-deep .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  //padding: 10px;
}

.scrollable-container {
  max-height: 90vh; // Adjust as needed (90% of viewport height)
  overflow-y: auto; // Enables vertical scrolling when needed
  //padding: 16px; // Optional, for spacing
}

::ng-deep .actor-value-tile {
  height: fit-content;
}

/* Responsive adjustments for small screens */
@media (max-width: 600px) {
  .card-container {
    margin-right: 0%;
    margin-left: 0%;
  }
}

@media (max-width: 400px) {
  .card-container {
    margin-right: 0%;
    margin-left: 0%;
    font-size: 14px;
  }
}

@media (max-height: 400px) {}